/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Manrope:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
/* google font  */

/* browser reset code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* browser reset code */

/* some shared styles */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 0;
}
.description{
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.btn-primary{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFFFFF;
    padding: 8px 16px;
    border: 2px solid #E02C6D;
    cursor: pointer;
    transition: all .4s;
    margin: 20px 0;
}
.btn-secondary{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    background: #E02C6D;
    padding: 8px 16px;
    border: 2px solid #E02C6D;
    cursor: pointer;
    transition: all .4s;
    margin: 20px 0;
}
.btn-primary:hover, .btn-secondary:hover{
    background: #FFFFFF;
    color: #E02C6D;
}
.fa-arrow-right{
    padding-left: 15px;
}
/* some shared styles */

/* header section styles */
/* nav related styles */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.nav > ul{
    display: flex;
    align-items: center;
}
.nav a{
    padding:24px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s;
}
.nav a:hover{
    text-decoration:2px underline;
    color: #E02C6D;
}
/* nav related styles */

/* Banner ralated styles */
.banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    padding-top: 80px;
}
.banner-content, .banner-img{
    width: 50%;
}
.banner-title{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 42px;
    font-weight: 700;
    line-height: 70px;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    background: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
}
.banner-img img{
    width: 100%;
    padding: 100px;
}
/* Banner ralated styles */
/* header section styles */

/* sponsor section styles */
.sponsor-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    margin: 20px auto;
    padding: 20px 0;
    border-top: 2px solid rgb(243, 243, 243);
    border-bottom: 2px solid rgb(243, 243, 243);
}
/* sponsor section styles */

/* collection section styles */
.collection-title{
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}
.card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0;
}
.card{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 15px;
}
.card img{
    width: 100%;
}
.card-title{
    color:#18191F;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    padding: 16px 0 0;
}
.card-price{
    color:rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    padding: 5px 0;
}
.card-des{
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    padding-bottom: 10px;
}
.more-btn-container{
    display: flex;
    justify-content: flex-end;
}
.more-btn-container a{
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
}
.more-btn-container a:hover{
    text-decoration:2px underline;
}
/* collection section styles */
/* feature section styles */
.feature-container{
    display: grid;
    align-items: center;
    gap: 90px;
    grid-template-columns: 400px 1fr;
}
.feature-title{
    color: #0A0826;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}
.feature-des{
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    padding: 15px 0 5px;
}
/* feature section styles */
/* footer section styles */
.footer-section{
    background: #0A0826;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
}
.footer-title{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.footer-des{
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.footer-icon-container a{
    display: inline-block;
    font-size: 22px;
    color: #fff;
    margin: 20px 16px;
}
/* footer section styles */

/* responsive styles */
/* Laptop devices */
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .nav {
        flex-direction: column;
    }
    .nav-logo {
        margin-bottom: 50px;
    }
    .banner-title {
        font-size: 28px;
        line-height: 50px;
    }
    .sponsor-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    .feature-container {
        gap: 40px;
        grid-template-columns: 1fr 2fr;
    }
    .feature-img img{
        width: 100%;
    }
    .feature-title {
        font-size: 30px;
    }
}
/* Laptop devices */

/* Medium Devices */
@media screen and (max-width: 992px) and (min-width: 768px) {
    .nav {
        flex-direction: column;
    }
    .nav-logo {
        margin-bottom: 50px;
    }
    .banner-title {
        font-size: 28px;
        line-height: 50px;
    }
    .sponsor-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    .feature-container {
        gap: 40px;
        grid-template-columns: 1fr 2fr;
    }
    .feature-img img{
        width: 100%;
    }
    /* new added styles */
    .container{
        width: 95%;
    }
    .banner-container {
        gap: 50px;
    }

    .card-title{
        font-size: 22px;
    }
    .card-price{
        font-size: 18px;
    }
    .card-des{
        font-size: 10px;
    }
    .feature-title {
        font-size: 25px;
    }
    .feature-des {
        font-size: 12px;
        line-height: 20px;
    }
    /* new added styles */
}
/* Medium Devices */

/* Mobile  Devices*/
@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
    .nav-logo {
        margin-bottom: 50px;
    }
    .banner-title {
        font-size: 28px;
        line-height: 50px;
    }
    .sponsor-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    .feature-container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
        padding-top: 0;
    }
    .feature-img img{
        width: 100%;
    }
    .container{
        width: 95%;
    }
    .banner-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .card-title{
        font-size: 22px;
    }
    .card-price{
        font-size: 18px;
    }
    .card-des{
        font-size: 10px;
    }
    .feature-title {
        font-size: 25px;
    }
    .feature-des {
        font-size: 12px;
        line-height: 20px;
    }
    /* new added styles */
    .nav a {
        padding: 6px;
    }
    .banner-content{
        width: 100%;
        text-align: center;
    }
    .banner-img{
        width: 70%;
        height: 400px;
    }
    .banner-img img {
        padding: 50px;
    }
    .card-container {
        grid-template-columns: 1fr;
        width: 98%;
        margin: 0 auto;
    }
    .more-btn-container a {
        margin-right: 5px;
    }
    .feature-img{
        width: 90%;
    }
    /* new added styles */
}
/* Mobile  Devices*/
/* responsive styles */
